<div ng-controller="UserPanelCtrl">
  <div class="login-form-wrap" ng-if="id">
    <button ng-click="logout()" class="logout btn d2d-btn-hide">Sign out</button>
    <div class="user-panel-logged-in text">User: <span class="user-panel-username">{{ id }}</span></div>
  </div>
  <div class="login-form-wrap {{ login_form ? 'expanded' : '' }}" ng-if="!id">
    <button ng-click="toggle_login_form()" class="login btn d2d-btn-{{ login_form ? 'hide' : '2' }}">{{ login_form ? 'Hide' : 'Sign In'}}</button>

    <form ng-if="login_form" ng-submit="submit()" class="login-form" ng-class="{errors: login_errors}">
        <div ng-if="login_errors" class="login-errors">{{ login_errors }}</div>
        <div class="form-group">
          <label class="control-label" for="username-input">Username:</label>
          <input type="text" class="form-control" id="username-input" />
        </div>
        <div class="form-group">
          <label class="control-label" for="password-input">Password:</label>
          <input type="password" class="form-control" id="password-input" />
        </div>
      <button type="submit" class="login submit btn d2d-btn-full d2d-btn-3">Submit</button>
    </form>

  </div>
</div>