<div ng-controller="FormUserNewCtrl">
  <h1>FORM USER NEW</h1>
  <div class="login-status" ng-if="!logged_in">
    <button ng-click="toggle_form_user_new()" class="sign-up btn btn-{{ !show_form ? 'primary' : 'warning' }}">{{ show_form ? 'hide' : 'Sign Up'}}</button>

    <form ng-if="show_form" ng-submit="submit()" ng-class="{errors: form_errors}">
        <div ng-if="form_errors" class="form-errors">{{ login_errors }}</div>
        <div class="form-group">
          <label class="control-label" for="username-input">Username:</label>
          <input type="text" class="form-control" id="username-input" />
        </div>
        <div class="form-group">
          <label class="control-label" for="password-input">Password:</label>
          <input type="password" class="form-control" id="password-input" />
        </div>
      <button type="submit" class="login submit btn btn-success">submit</button>
    </form>

  </div>
</div>