<div class="container" ng-cloak ng-controller="RootCtrl">
  <header class="row">
    <div class="col-md-6 col-sm-8">
      <a ui-sref="root.home" class="header-left" id="d2d-title">
          <span id="d2d-title-day">DAY</span><!-- inline
       --><span id="d2d-title-2">2</span><!-- inline
       --><span id="d2d-title-data">DATA</span>
      </a>
    </div>
    <div class="col-md-6 col-sm-4 header-right">
      <ng-include src="'/static/partial/sidebar/sidebar.html'"></ng-include>
      <ng-include src="'/static/user/partial/user-panel/user-panel.html'"></ng-include>
    </div>
  </header>
  
  <div class="app-body">
    <ui-view></ui-view>
  </div>

</div>